<html>
  <%= erb :'includes/head' %>

  <body>

    <a href="/">
      Homepage
    </a>

    <%= erb :'includes/nav' %>

    <h1>
      <%= @title %>
    </h1>

    <%= yield %>

  <script src="/js/main.js"></script>

  </body>
</html>