
  <h1>
    Ability Listing: <%= @ability.capitalize.sub('-', ' ') %>
  </h1>

  <% @ability_descr.each do |item| %>
  
    <% if item['language']['name'] == 'en'  %>
      <p>
        <strong>Short version:</strong> <%= item['short_effect'] %>
      </p>

      <p>
        <strong>Long version:</strong> <%= item['effect'] %>
      </p>
    <% end %>
  <% end %>


  <div class="pd-archiveItem__group">

    <% @pokemon.each do |entry| %>

      <%
        if entry['is_hidden']
          @hidden_ability = "Hidden Ability"
        else
          @hidden_ability = "null"
        end
      %>

      <%= erb :'includes/archive_item', :locals => {
        :link => "/pokemon/#{entry['pokemon']['url'].split('/')[6].to_i}",
        :img_url => "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/#{entry['pokemon']['url'].split('/')[6].to_i}.png" ,
        :title => entry['pokemon']['name'].capitalize.sub('-', ' '),
        :subheading => @hidden_ability
      } %>
    <% end %>

  </div>
