
<div class="pd-search">

  
  <% if @alt_intro_text == nil %>

    <h1 class="pd-search__title">
      Search for a Pokemon!
    </h1>

    <p>
      Search for any Pokemon, from Pokemon Red and Blue to Pokemon X and Y. You can search by name or ID number.
    </p>

    <p>
      <strong>
        Please enjoy!
      </strong>
    </p>
  <% else %>

    <%= @alt_intro_text %>
  <% end %>


  
  <form class="pd-search__form" action="/search" method="POST">

    <input class="pd-search__input" type="text" name="poke_search">

    <input type="submit" class="pd-search__button" value="Search">
  </form>

</div>