<h4>
  Placeholder image!
</h4>

<picture>
  <source media="(min-width: 1024px)" srcset="/assets/placeholders/large.png">
  <source media="(min-width: 700px)" srcset="/assets/placeholders/medium.png">
  
  <img src="/assets/placeholders/small.png">
</picture>
