<html>
  <head>
    <title>Pokedex!</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <h3>Here are some random Pokemon to try!</h3>

    <% @total.each do |number, name| %>
      <a href="<%= number %>"><%= name %></a>
      <br>
    <% end %>
  </body>
</html>