
  <h1>
    Type Listing: <%= @type.capitalize %>
  </h1>

  <div class="pd-archiveItem__group">

    <% @pokemon.each do |entry| %>
      <% if entry['pokemon']['url'].split("/")[6].to_i < 722 %>

        <%= erb :'includes/archive_item', :locals => {
          :link => "/pokemon/#{entry['pokemon']['url'].split('/')[6].to_i}",
          :img_url => "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/#{entry['pokemon']['url'].split('/')[6].to_i}.png" ,
          :title => entry['pokemon']['name'].capitalize.sub('-', ' '),
          :subheading => @hidden_ability
        } %>

      <% end %>
    <% end %>

  </div>

