<ul class="pl-footerNav">
  
  <% @data["footer"]["menus"].each do |menu| %>
    <% menu.each do |item| %>
      <a href="<%= item["link"] %>">
        <li class="pl-footerNav--item"><%= item["label"] %></li>
      </a>
    <% end %>
  <% end %>
</ul>