<a href="<%= link %>" class="pd-archiveItem">
  <img src="<%= img_url %>" class="pd-archiveItem__img">

  <h5 class="pd-archiveItem__title">
    <%= title %>
  </h5>

  <% if subheading != 'null' %>
    <small class="pd-archiveItem__subheading">
      <%= subheading %>
    </small>
  <% end %>
</a>