<head>
  <title><%= @title.sub('-', ' ') %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.css" />
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>