<html>
  <head>
    <title><%= @title.sub('-', ' ') %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>

    <h2>
      <%= @title %>
    </h2>

    <%= erb :'includes/nav' %>

    <br><br>

    <%= yield %>

    <br><br>

    <a href="/">
      Homepage
    </a>

  </body>
</html>