
<% c_topMenu_data ||= @data["header"] %>

<ul class="pl-topMenu">

  <% c_topMenu_data["top-menu"]["links"].each do |item| %>

    <a href="<%= item["link"] %>">
      <li class="pl-topMenu--item"><%= item["label"] %></li>
    </a>

  <% end %>
</ul>