
<% c_footerNav_data ||= @data["footer"] %>


<ul class="pl-footerNav">
  <% c_footerNav_data['menus'].each do |menus| %>
  <% menus.each do |item| %>
    <a href="<%= item["link"] %>">
      <li class="pl-footerNav--item"><%= item["label"] %></li>
    </a>
  <% end %>
  <% end %>
</ul>
