<%= erb :"source/02-patterns/00-global/00-header", :locals =>{
  :p_header_data => @data['p-header']
} %>


<% if @data["psuedo"] %>
  <p>
    The psuedo pattern!
  </p>
<% end %>


<%= erb :"source/02-patterns/00-global/01-footer", :locals =>{
  :c_footerNav_data => @data['p-footer']
} %>