<div class="pl-header">
  <%= erb :"source/01-components/01-images/00-logo" %>
  <%= erb :"source/01-components/00-text/00-intro-text" %>

  <%= erb :"source/01-components/02-navigation/00-top-menu" %>
</div>