<div class="pl-footer">
  <%= erb :"source/01-components/02-navigation/01-footer-menu", :locals =>{
    :c_footerNav_data => @data['p-footer']
  } %>

  <%= erb :"source/01-components/00-text/01-copyright" %>
</div>